/*Mail*/
.mail {
  width: 100%;
  min-height: 750px;
  background-image: url("../images/background-to-pdf.png");
  background-size: cover;
  background-position: left top;
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: clip;
  max-width: 1080px;

  overflow: hidden;
  &.scroll {
    max-height: 1500px;
    overflow-y: auto;
  }
  &::before {
    display: none;
    content: "";
    position: absolute;
    background-image: url("../images/mail/employed.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9;
    width: 438px;
    height: 702px;
    left: -90px;
    bottom: 0;
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    background-image: url("../images/experiencia-woow.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9;
    width: 90px;
    height: 89px;
    left: 35px;
    bottom: 630px;
  }
  &--image {
    min-height: 881px;
    max-width: 668px;
    background-image: url("../images/mail/background-mail.jpg");
    &::before {
      display: none;
    }
  }
  &.scroll::before {
    bottom: var(--h-img);
  }
  &.scroll::-webkit-scrollbar {
    width: 9px;
  }
  &.scroll::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
  }
  &.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  &__header-img {
    @media (max-width: 767px) {
      width: 160px;
    }
    &--img {
      max-width: 100%;
    }
  }
  &__cloud-whithe {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__cloud-img {
    width: 209px;
    @media (max-width: 767px) {
      width: 130px;
    }
  }
  &__cloud-txt {
    color: #00bfe2;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.2;
    padding: 25px 10px 10px 50px;
    @media (max-width: 767px) {
      font-size: 16px;
      padding: 13.5px 10px 10px 30px;
    }
  }
  &__body {
    padding-top: 40px;
    & .table-bcp__row--bg {
      .table-bcp__col {
        line-height: 1;
        padding: 0;
        & > div {
          padding-inline: 19px;
          padding-block: 7.5px;
        }
      }
    }
    & .table-bcp__row--bg:nth-child(odd) {
      .table-bcp__col > div {
        background-color: #fff;
        border-radius: 12px;
        padding-block: 5px;
      }
    }
    & .table-bcp__row--bg:nth-last-of-type(1) {
      .table-bcp__col > div {
        background-color: transparent;
        display: block !important;
        padding-top: 15px;
        .table-bcp__txt {
          color: #005db8;
          &:nth-of-type(2) {
            padding-left: 15px;
          }
        }
      }
    }
  }
  &__title {
    max-width: 535px;
    color: #fff;
    font-size: 36px;
    line-height: 1.02;
    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
  &__description {
    color: #fff;
    line-height: 1.2;
    font-size: 23px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
    &--image {
      font-size: 50px;
      margin-inline: auto;
      margin-bottom: 0.25rem;
      position: relative;
    }
  }
  &__table-parent {
    padding-top: 20px;
  }
  &__table-parent-employed {
    position: relative;
    top: 0;
    left: -95px;
    width: 370px;
  }
  &__table-parent-woow {
    position: absolute;
    left: 0;
    bottom: 770px;
    z-index: 9;
  }

  &__table-title {
    color: #003382;
    font-size: 26px;
    line-height: 1.02;
    max-width: 100%;
  }
  &__footer {
    padding-top: 25px;
  }

  &__line {
    &--image {
      width: 200px;
      height: 5px;
      background-color: #fff;
    }
  }

  &__footer-img {
    max-width: 100%;
    @media (max-width: 767px) {
      max-width: 40%;
    }
  }

  @media (max-width: 767px) {
    max-width: 100%;
    min-width: auto;
    padding: 34px 30px 30px;
    margin-top: 0;
    max-height: none !important;
    overflow-y: clip !important;
    &::before {
      bottom: 0 !important;
      width: 185px !important;
      left: -50px !important;
    }
  }
}

.table-bcp-parent {
  position: relative;
  max-width: 687px;
  margin: auto;
  background-color: #d4ecf4;
  border-radius: 12px;

  &::before {
    display: none !important;
    content: "";
    position: absolute;
    background-image: url("../images/chanchito.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 200;
    width: 188px;
    height: 152px;
    right: -43px;
    bottom: -66px;
  }

  &__before {
    position: absolute;
    z-index: 200;
    width: 188px;
    height: auto;
    right: -115px;
    bottom: -28px;
    @media (max-width: 1199px) {
      width: 158px;
      right: -45px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  .table-bcp:nth-of-type(1) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .table-bcp:nth-last-of-type(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @media (max-width: 767px) {
    min-height: auto;
    $width: -18px;
    margin-left: $width;
    width: calc(100% + ($width * -2));
  }

  &__total {
    background-color: #e36825;
    border-radius: 14px;
    min-width: 323px;
    max-width: 323px;

    padding: 7.5px 15px;
    text-align: center;
    position: relative;
    top: -7.5px;
    line-height: 1;
    margin: auto;
    top: calc(75px / 2);
    @media (max-width: 767px) {
      min-width: 230px;
      max-width: 230px;
      top: calc(47px / 2);
    }
  }
  &__total-txt {
    color: white;
    font-size: 28px;
    margin-bottom: 0;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__total-price {
    color: white;
    font-size: 32px;
    margin-bottom: 0;
  }
}

.table-bcp {
  $el: ".table-bcp";
  padding: 18px 92px;
  @media (max-width: 767px) {
    width: 100%;
    padding: 18px 15px;
  }
  &__tbl {
    margin-bottom: 0;
  }
  &__header {
    line-height: 0.75;
  }
  &__title {
    font-size: 34.26px;
    color: #005db8;
    text-align: center;
    @media (max-width: 991px) {
      line-height: 1;
    }
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  &__row {
    line-height: 0.4;
  }
  &__col {
    & > div {
      padding-top: 25px;
      @media (max-width: 767px) {
        padding-top: 15px;
      }
    }
  }
  &__txt {
    font-size: 26px;
    display: inline-block;
    color: #575756;
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
}

.experiencia-woow {
  &__parent {
    position: absolute;
    left: 30px;
    bottom: 15px;
    & > img {
      @media (max-width: 767px) {
        width: 70px;
      }
    }
    @media (max-width: 767px) {
      left: 0px;
      bottom: 15px;
    }
  }
}

.image-alert {
  background-color: #fff;
  margin: auto;
  font-size: 18px;
  border-radius: 10px;
  max-width: 464px;
  width: 100%;
  padding-block: 10px;
  line-height: 1.35;
  &__txt {
    color: #273589;
    margin-bottom: 0;
  }
}

.line-table {
  height: 5px;
  width: 558px;
  margin: auto;
  background-color: #fff;
  @media (max-width: 767px) {
    width: 80%;
  }
}

.beneficio {
  margin-top: 50px;
  &__container {
    position: relative;
    text-align: center;
  }
  &__figure {
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
  }
  &__img-background {
    width: 100%;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    top: 4px;
    height: 164px;
    @media (max-width: 1199px) {
      height: 148px;
    }
    @media (max-width: 991px) {
      height: 105px;
    }
    @media (max-width: 767px) {
      height: 51px;
      top: 0;
    }
  }
  &__description {
    padding-left: 7.5px;
    margin-top: -3.9px;
    font-size: 34px;
    line-height: 1.25;
    @media (max-width: 991px) {
      font-size: 21px;
    }
    @media (max-width: 767px) {
      font-size: 11px;
    }
  }
  &__link {
    color: #ffb71c;
    text-decoration: underline;
  }
}

.stars2 {
  position: absolute;
  width: 116px;
  &--left {
    left: -146px;
    top: 50%;
  }
  &--right {
    right: -146px;
    top: 15%;
  }
  @media (max-width: 1199px) {
    display: none;
  }
}
