/*Mail*/
.mail {
  width: 100%;
  min-height: 750px;
  background-image: url("../images/mail/background-mail.jpg");
  background-size: cover;
  background-position: left top;
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: clip;
  max-width: 829px;
  // max-height: 1163.78px;
  &.scroll {
    max-height: 1500px;
    overflow-y: auto;
  }
  &::before {
    display: none;
    content: "";
    position: absolute;
    background-image: url("../images/mail/employed.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9;
    width: 438px;
    height: 702px;
    left: -90px;
    bottom: 0;
  }
  &::after {
    display: none;
    content: "";
    position: absolute;
    background-image: url("../images/experiencia-woow.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 9;
    width: 90px;
    height: 89px;
    left: 35px;
    bottom: 630px;
  }
  &--image {
    min-height: 881px;
    max-width: 750px;
    &::before {
      display: none;
    }
  }
  &.scroll::before {
    bottom: var(--h-img);
  }
  &.scroll::-webkit-scrollbar {
    width: 9px;
  }
  &.scroll::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
  }
  &.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  &__header-img {
    // max-width: 100%;
    max-width: 250px;
    @media (max-width: 767px) {
      width: 160px;
    }
    &--img {
      max-width: 100%;
    }
  }
  &__cloud-whithe {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__cloud-img {
    width: 209px;
    @media (max-width: 767px) {
      width: 130px;
    }
  }
  &__cloud-txt {
    color: #00bfe2;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.2;
    padding: 25px 10px 10px 40px;
    @media (max-width: 767px) {
      font-size: 16px;
      padding: 13.5px 10px 10px 30px;
    }
  }
  &__body {
    padding-top: 25px;
  }
  &__title {
    max-width: 535px;
    color: #fff;
    font-size: 36px;
    line-height: 1.02;
    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
  &__description {
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    max-width: 605px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
    &--image {
      font-size: 38px;
      margin-inline: auto;
      margin-bottom: 0.25rem;
      position: relative;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   background-image: url("../images/line-image.png");
      //   background-position: left bottom;
      //   background-repeat: no-repeat;
      //   background-size: 100%;
      //   z-index: 9;
      //   width: 431px;
      //   height: 268px;
      //   left: calc(50% - 80px);
      //   top: 58px;
      // }
    }
  }
  &__table-parent {
    // padding-top: 7.5px;
    padding-top: 0;
  }
  &__table-parent-employed {
    position: relative;
    top: 0;
    left: -95px;
    width: 370px;
  }
  &__table-parent-woow {
    position: absolute;
    left: 0;
    bottom: 770px;
    z-index: 9;
  }

  &__table-title {
    color: #003382;
    font-size: 26px;
    line-height: 1.02;
    max-width: 100%;
  }
  &__footer {
    padding-top: 25px;
  }

  &__line {
    &--image {
      width: 200px;
      height: 5px;
      background-color: #fff;
    }
  }

  &__footer {
  }
  &__footer-img {
    max-width: 96px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    min-width: auto;
    padding: 34px 30px 30px;
    margin-top: 0;
    max-height: none !important;
    overflow-y: clip !important;
    &::before {
      bottom: 0 !important;
      width: 185px !important;
      left: -50px !important;
    }
  }
}

.table-bcp-parent {
  position: relative;
  min-height: 628px;

  &::before {
    display: none !important;
    content: "";
    position: absolute;
    background-image: url("../images/chanchito.png");
    // background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 200;
    width: 188px;
    height: 152px;
    // right: 0;
    // bottom: -120px;
    right: -43px;
    bottom: -66px;
  }

  &__before {
    position: absolute;
    z-index: 200;
    width: 188px;
    height: auto;
    right: -43px;
    bottom: -28px;
  }

  .table-bcp:nth-of-type(1) {
    border-radius: 10px;
  }
  .table-bcp:nth-of-type(3n + 1) {
    background-color: #fff;
  }
  .table-bcp:nth-of-type(3n + 2) {
    background-color: #dde4ed;
  }
  .table-bcp:nth-of-type(3n + 3) {
    background-color: #c6cfdc;
  }
  @media (max-width: 767px) {
    min-height: auto;
    $width: -18px;
    margin-left: $width;
    width: calc(100% + ($width * -2));
  }

  &__total {
    background-color: #e36825;
    border-radius: 14px;
    // max-width: 200px;
    // max-width: 235px;
    min-width: 235px;
    max-width: 235px;
    padding: 10px 15px;
    text-align: center;
    position: relative;
    top: -7.5px;
  }
  &__total-txt {
    color: white;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1.1;
  }
  &__total-price {
    color: white;
    font-size: 28px;
    margin-bottom: 0;
  }
}

.table-bcp {
  $el: ".table-bcp";
  width: 380px;
  padding: 30px 18px 18px 18px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (max-width: 767px) {
    width: 100%;
  }

  &__tbl {
    margin-bottom: 0;
  }
  &__header {
    line-height: 0.75;
  }
  &__title {
    font-size: 20px;
    color: #012d8a;
    font-style: italic;
  }
  &__row {
    line-height: 0.4;
  }
  &__txt {
    font-size: 16px;
    display: inline-block;
    font-style: italic;
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
}

.experiencia-woow {
  &__parent {
    position: absolute;
    left: 90px;
    top: 165px;
  }
}

.image-alert {
  background-color: #fff;
  max-width: 360px;
  margin: auto;
  font-size: 18px;
  border-radius: 10px;
  max-width: 480px;
  width: 100%;
  padding-block: 10px;
  padding-block: 10px;
  &__txt {
    color: #005dbd;
    margin-bottom: 0;
  }
}
