:root {
  --h-img: 0;
}
@font-face {
  font-family: "Flexo";
  src: url("./fonts/flexo-regular/Flexo-Regular.ttf") format("truetype"),
    url("./fonts/flexo-regular/Flexo-Regular.woff2") format("woff2"),
    url("./fonts/flexo-regular/Flexo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Flexo-bold";
  src: url("./fonts/flexo-bold/Flexo-Bold.ttf") format("truetype"),
    url("./fonts/flexo-bold/Flexo-Bold.woff2") format("woff2"),
    url("./fonts/flexo-bold/Flexo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Flexo-demi";
  src: url("./fonts/flexo-demi/Flexo-Demi.ttf") format("truetype"),
    url("./fonts/flexo-demi/Flexo-Demi.woff2") format("woff2"),
    url("./fonts/flexo-demi/Flexo-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flexo-boldit";
  src: url("./fonts/flexo-boldIt/Flexo-BoldIt.ttf") format("truetype"),
    url("./fonts/flexo-boldIt/Flexo-BoldIt.woff2") format("woff2"),
    url("./fonts/flexo-boldIt/Flexo-BoldIt.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Flexo-heavy";
  src: url("./fonts/flexo-heavy/Flexo-Heavy.ttf") format("truetype"),
    url("./fonts/flexo-heavy/Flexo-Heavy.woff2") format("woff2"),
    url("./fonts/flexo-heavy/Flexo-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Flexo-medium";
  src: url("./fonts/flexo-medium/Flexo-Medium.ttf") format("truetype"),
    url("./fonts/flexo-medium/Flexo-Medium.woff2") format("woff2"),
    url("./fonts/flexo-medium/Flexo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Flexo-mediumit";
  src: url("./fonts/flexo-mediumit/Flexo-MediumIt.ttf") format("truetype"),
    url("./fonts/flexo-mediumit/Flexo-MediumIt.woff2") format("woff2"),
    url("./fonts/flexo-mediumit/Flexo-MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

body {
  background: #00b0d0;
  background: -moz-linear-gradient(top, #00b0d0 0%, #012e8a 100%);
  background: -webkit-linear-gradient(top, #00b0d0 0%, #012e8a 100%);
  background: linear-gradient(to bottom, #00b0d0 0%, #012e8a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0d0', endColorstr='#012e8a',GradientType=0 );
  background-repeat: no-repeat;
}

.flexo-regular {
  font-family: "Flexo";
}
.flexo-bold {
  font-family: "Flexo-bold";
}
.flexo-demi {
  font-family: "Flexo-demi";
}
.flexo-boldit {
  font-family: "Flexo-boldit";
}
.flexo-heavy {
  font-family: "Flexo-heavy";
}
.flexo-medium {
  font-family: "Flexo-medium";
}
.flexo-mediumit {
  font-family: "Flexo-mediumit";
}
